<footer class="footer">

    <div class="footer_text">
        <ul class="footer__articles-list">
            <li>articles</li>
            <li>books</li>
            <li>events</li>
            <li>reasons</li>
            <li>tips</li>
        </ul>
        <ul class="footer__social-list">
            <li>twitter</li>
            <li>instagram</li>
            <li>mastodon.social</li>
        </ul>
        <div class="footer__copy">
            <p class="copy">&copy;2017</p>
            <p class="small">we <span class="heart">&hearts;</span> <span class="components">components</span></p>
        </div>
    </div>
    <div class="arrowup">
        <a href="#start">
            <img class="arrow" src="./assets/images/ico-arrow.svg" alt="enlace a inicio">
        </a>
    </div>
</footer>