<footer class="footer">
    <div class="footer__articles">
        <ul class="footer__articles-list">
            <li>articles</li>
            <li>books</li>
            <li>events</li>
            <li>reasons</li>
            <li>tips</li>
        </ul>
    </div>
    <div class="footer__social">
        <ul class="footer__social-list">
            <li>twitter</li>
            <li>instagram</li>
            <li>mastodon.social</li>
        </ul>
    </div>
    <div class="footer__copy">
        <p class="copy">&copy;2017</p>
        <p class="small">we <span class="heart">&hearts;</span>components</p>
    </div>
</footer>