<main class="main-contain">
    <article class="section-two">
        <small class="section-two__small">Insomnia Tips</small>
        <h2 class="section-two__title">looking through a window</h2>
        <p class="section-two__text"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis, cum illum!
        </p>
        <button class="section-two__btn">Go</button>
    </article>
    <article id="reasons" class="section-three">
        <h2 class="section-three__title">3 reasons to purchase</h2>
        <div>
            <ul class="section-three__list">
                <li clas="li_one">
                    <h3 class="list_title">Ut sed metus</h3>
                    <p class="list__text">Lorem ipsum dolor sit amet, conseteur.</p>
                </li>
                <li clas="li_two">
                    <h3 class="list_title">Curabitur ac erat</h3>
                    <p class="list__text">Mauri mattis urna quis lorem molestie.</p>
                </li>
                <li class="li_three">
                    <h3 class="list_title">Morbi dictum</h3>
                    <p class="list__text">Aliquam in dolor et dolor tincidunt.</p>
                </li>
            </ul>
        </div>
        <button class="section-three__btn"> More reasons</button>
    </article>
</main>