<main class="main-contain">
    <article class="moddos">
        <small class="moddos__small">Insomnia Tips</small>
        <h2 class="moddos__title">looking through a window</h2>
        <p class="moddos__text"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis, cum illum!
        </p>
        <button class="moddos__btn">Go</button>
    </article>
    <article class="modtres">
        <h2 class="modtres__title">3 reasons to purchase</h2>
        <div class="modtres__list">
            <ul>
                <li>
                    <h3 class="list_title">Ut sed metus</h3>
                    <p>Lorem ipsum dolor sit.</p>
                </li>
                <li>
                    <h3 class="list_title">Curabitur ac erat</h3>
                    <p>Mauri mattis urna quis lorem molestie.</p>
                </li>
                <li>
                    <h3 class="list_title">Morbi dictum</h3>
                    <p>Aliquam in dolor et dolor tincidunt.</p>
                </li>
            </ul>
        </div>
        <button class="modtres__btn"> More reasons</button>
    </article>
    <img src="../images/ico-arrow.svg" alt="enlace a inicio">

</main>