@keyframes color{
    from { background-color: $color-dos}
    to { background-color: #3498db}
    }
.footer {
    border: 1px solid red;
    background-color: $color-footer;
    color: $color-dos;
    font-family: $font-text;
    font-size: 16px;
    width: 100vw;
    height: 465px;
    padding-bottom:45px;
    text-align:center;
    line-height: 30px;
    position:relative;
        @include tablet {
            height:240px;
        }
    .footer__articles-list {
        padding-left:0px;
        width:73px;
        margin:auto;
        padding-top:44px;
        text-transform: uppercase;
        margin-top:0px;
        margin-bottom: 30px; 
        @include tablet{
            order: 2;
            margin:0px;
            width:161px;
            padding-top:0px;
        }
    }
    .footer__social-list {
        padding-left: 0px;
        margin: auto;
        margin-bottom: 30px;
        width:320px;
        text-transform: uppercase;
        @include tablet{
            order: 3;
            margin:0px;
            width:159px;
        }
    }
    .footer__copy {
        text-align:center;
        font-size: 14px;
        .heart {
            color:$color-orange;
        }
        .copy {
            margin-bottom:0px;
        }
        .small {
            margin-top:0px;  
        }
        @include tablet{
             order: 1;
             width:159px;
             text-align:left;
        }
    }
    .arrow {
        background-color: $color-dos;
        width: 20.6px;
        height: 24px;
        padding: 10px;
        margin: auto;
        box-shadow: 0 2px 4px 0 #000;
        border-radius: 50px;
        margin-top: -5px;
        position: absolute;
        bottom: 490px;
        left: 45%;
        animation-name: color;
        animation-duration: 4s;
        @include tablet {
            bottom: 265px;
        }
    }
}
.footer_text {

   @include tablet{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding-top: 45px;
        padding-left: 39px;
        padding-right: 39px;
    }
    @include desktop {
        justify-content: center;
    }
    
}