.footer {
    background-color: $color-footer;
    color: $color-dos;
    font-family: $font-text;
    font-size: 16px;
    width: 100vw;
    height: 465px;
    padding-bottom:45px;
    text-align:center;
    line-height: 30px;
    .arrow {
        background-color: $color-dos;
        width:20.6px;
        height: 24px;
        padding:10px;
        box-shadow: 0 2px 4px 0 #000;
        border-radius: 50px;
        margin:auto;
    }
    .footer__articles-list {
        padding-left:0px;
        width:73px;
        margin:auto;
        padding-top:44px;
        text-transform: uppercase;
        margin-top:0px;
        margin-bottom: 30px;
    }
    .footer__social-list {
        padding-left: 0px;
        margin: auto;
        margin-bottom: 30px;
        width:320px;
        text-transform: uppercase;
    }
    .footer__copy {
        text-align:center;
        font-size: 14px;
        .heart {
            color:$color-orange;
        }
        .copy {
            margin-bottom:0px;
        }
        .small {
            margin-top:0px;  
        }
    }
}