.moddos {
    background-color: $color-dos;
    margin: auto;
    width: 290px;
    line-height: 30px;
    padding-left:15px;
        @include tablet{
            padding-left:39px;
            padding-top:30px;
            margin:0px;
            height: 330px;
        }
        @include desktop {
            padding-left: 275px;
        }
    .moddos__small {
        color: #8ccbea;
        font-size: 14px;
        height: 30px;
        margin:auto;
        @include desktop {
            font-size: 16px;
        }  
    }
    .moddos__title{
        font-family: $font-title;
        font-size:24px;
        text-transform: capitalize;
        height: 60px;
        margin:auto;
            @include tablet{
                font-size:26px;
                width:690px;
                height: 45px;
                margin-top:10px;
            }
            @include desktop{
                font-size:32px;
            }
    }
    .moddos__text{
        font-family: $font-text;
        font-size: 18px;        
        color: $color-grey;
        @include tablet{
            font-size:20px;
            width:690px;
            margin-top:opx;
        }

    }
    .moddos__btn {
        font-family: $font-btn;
        font-size: 20px;
        background-color: $color-dos;
        color: $color-orange;
        border: 2px solid $color-orange;
        border-radius: 22.5px;
        width:76px;
        height: 45px;
        transition-property: color;
        transition-duration: 0.5s;
        &.moddos__btn:hover {
            color: $color-menu;
        }
        @include tablet{
            width:91px;
            margin-top:30px;
        }
        @include desktop {
            width:160px;
        }
    }
}