.section-two{
    background-color: $color-dos;
    margin: auto;
    width: 290px;
    line-height: 30px;
    padding-left: 15px;
        @include tablet{
            padding-left: 39px;
            padding-top: 30px;
            margin: 0px;
            height: 330px;
        }
        @include desktop {
            padding-left: 275px;
        }
        .section-two__small {
        color: #8ccbea;
        font-size: 14px;
        height: 30px;
        margin: auto;
        @include desktop {
            font-size: 16px;
        }  
    }
    .section-two__title{
        font-family: $font-text;
        font-weight: 700;
        font-size: 24px;
        text-transform: capitalize;
        height: 60px;
        margin: auto;
            @include tablet{
                font-size: 26px;
                width: 690px;
                height: 45px;
                margin-top: 10px;
            }
            @include desktop{
                font-size: 32px;
            }
    }
    .section-two__text{
        font-family: $font-text;
        font-size: 18px;        
        color: $color-grey;
        @include tablet{
            font-size: 20px;
            width: 690px;
        }

    }
    .section-two__btn {
        font-family: $font-text;
        font-weight: 400;
        font-size: 20px;
        background-color: $color-dos;
        color: $color-orange;
        border: 2px solid $color-orange;
        border-radius: 22.5px;
        width: 76px;
        height: 45px;
        transition-property: color;
        transition-duration: 0.5s;
        &.section-two__btn:hover {
            color: $color-menu;
        }
        @include tablet{
            width: 91px;
            margin-top: 30px;
        }
        @include desktop {
            width: 160px;
        }
    }
}