/*_______cuerpo____*/.wrapper {
  margin: 0px;
  padding: 0px;
}

.wrapper li {
  list-style-type: none;
}

.wrapper .header {
  background-image: url("../images/cover.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position-x: -445px;
  padding-bottom: 53px;
  margin-bottom: 30px;
  color: #ffffff;
}

.wrapper .header .header__menu {
  position: fixed;
  -ms-flex-item-align: start;
  align-self: flex-start;
  height: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 16px;
  padding-right: 14px;
  padding-left: 14px;
  background-color: #0271bc;
}

.wrapper .header .header__text {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.wrapper .header .header__text .header__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto:700";
  font-size: 42px;
  width: 290px;
  height: 110px;
  margin-left: 15px;
  margin-bottom: 10px;
  text-shadow: 0 2px 3px #000;
}

.wrapper .header .header__text .header__titlesmall {
  margin-top: 0px;
  margin-bottom: 45px;
  font-family: "Roboto", sans-serif;
}

.wrapper .header .header__text .header__scrolldown {
  background-color: #ffffff;
  border-radius: 100%;
  height: 11.7px;
  padding-bottom: 15.3px;
  padding-top: 15.3px;
  width: 20px;
  padding-left: 12.5px;
  padding-right: 12.5px;
}

.moddos {
  background-color: #ffffff;
  margin: auto;
  width: 290px;
  line-height: 30px;
  padding-left: 15px;
}

.moddos .moddos__small {
  color: #8ccbea;
  font-size: 14px;
  height: 30px;
  margin: auto;
}

.moddos .moddos__title {
  font-family: "Roboto:700";
  font-size: 24px;
  text-transform: capitalize;
  height: 60px;
  margin: auto;
}

.moddos .moddos__text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #4a4a4a;
}

.moddos .moddos__btn {
  font-family: "Roboto:400";
  font-size: 20px;
  background-color: #ffffff;
  color: #f26002;
  border: 2px solid #f26002;
  border-radius: 22.5px;
  width: 76px;
  height: 45px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.moddos .moddos__btn.moddos__btn:hover {
  color: #0271bc;
}

.modtres {
  margin: auto;
  line-height: 30px;
  text-align: center;
  width: 100vw;
  background-color: #eff9ff;
}

.modtres .modtres__title {
  padding-top: 30px;
  font-size: 24px;
  font-family: "Roboto:700";
}

.modtres .modtres__list {
  padding-left: 0px;
  margin-left: 35.7px;
  margin-right: 70px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.modtres .modtres__list .list__text {
  margin-top: 0px;
  margin-bottom: 0px;
}

.modtres .modtres__list .list_title {
  margin-bottom: 0px;
  margin-top: 45px;
  font-family: "Roboto:700";
}

.modtres .modtres__btn {
  background-color: #f26002;
  color: #ffffff;
  border: 0px;
  border-radius: 22.5px;
  width: 184px;
  height: 45px;
  font-size: 20px;
  font-family: "Roboto:400";
  margin-bottom: 60px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.modtres .modtres__btn:hover {
  color: #0271bc;
}

.footer {
  background-color: #304268;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 100vw;
  height: 465px;
  padding-bottom: 45px;
  text-align: center;
  line-height: 30px;
  position: relative;
}

.footer .footer__articles-list {
  padding-left: 0px;
  width: 73px;
  margin: auto;
  padding-top: 44px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
}

.footer .footer__social-list {
  padding-left: 0px;
  margin: auto;
  margin-bottom: 30px;
  width: 320px;
  text-transform: uppercase;
}

.footer .footer__copy {
  text-align: center;
  font-size: 14px;
}

.footer .footer__copy .heart {
  color: #f26002;
}

.footer .footer__copy .copy {
  margin-bottom: 0px;
}

.footer .footer__copy .small {
  margin-top: 0px;
}

.footer .arrow {
  background-color: #ffffff;
  width: 20.6px;
  height: 24px;
  padding: 10px;
  margin: auto;
  -webkit-box-shadow: 0 2px 4px 0 #000;
  box-shadow: 0 2px 4px 0 #000;
  border-radius: 50px;
  margin-top: -5px;
  position: absolute;
  bottom: 490px;
  left: 45%;
}

@media all and (min-width: 768px) {
  .wrapper .header {
    padding-bottom: 45px;
    background-position-x: -240px;
    margin-bottom: 0px;
  }

  .wrapper .header .header__text .header__title {
    font-size: 80px;
    width: 690px;
    height: 212px;
  }

  .wrapper .header .header__text .header__titlesmall {
    font-size: 24px;
    margin-top: 0px;
  }

  .wrapper .header .header__text .header__scrolldown {
    margin-bottom: 45px;
  }

  .moddos {
    padding-left: 39px;
    padding-top: 30px;
    margin: 0px;
    height: 330px;
  }

  .moddos .moddos__title {
    font-size: 26px;
    width: 690px;
    height: 45px;
    margin-top: 10px;
  }

  .moddos .moddos__text {
    font-size: 20px;
    width: 690px;
    margin-top: opx;
  }

  .moddos .moddos__btn {
    width: 91px;
    margin-top: 30px;
  }

  .modtres {
    height: 397px;
  }

  .modtres .modtres__title {
    font-size: 26px;
    margin-top: 0px;
  }

  .modtres .modtres__list {
    font-size: 20px;
    height: 172px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 26px;
  }

  .modtres .modtres__list .li_one {
    grid-column: 1;
  }

  .modtres .modtres__list .li_two {
    grid-column: 2;
  }

  .modtres .modtres__list .li_three {
    grid-column: 3;
  }

  .modtres .modtres__list .list__text {
    width: 212.3px;
  }

  .modtres .modtres__list .list_title {
    font-size: 24px;
  }

  .modtres .modtres__btn {
    width: 210px;
  }

  .footer {
    height: 240px;
  }

  .footer .footer__articles-list {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin: 0px;
    width: 161px;
    padding-top: 0px;
  }

  .footer .footer__social-list {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin: 0px;
    width: 159px;
  }

  .footer .footer__copy {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 159px;
    text-align: left;
  }

  .footer .arrow {
    bottom: 265px;
  }

  .footer_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
    padding-top: 45px;
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media all and (min-width: 1200px) {
  .wrapper .header {
    height: 100vh;
    width: 100vw;
    background-position-x: 0px;
  }

  .wrapper .header .header__text .header__title {
    font-size: 100px;
    width: 730px;
  }

  .moddos {
    padding-left: 275px;
  }

  .moddos .moddos__small {
    font-size: 16px;
  }

  .moddos .moddos__title {
    font-size: 32px;
  }

  .moddos .moddos__btn {
    width: 160px;
  }

  .modtres {
    height: 427px;
  }

  .modtres .modtres__title {
    font-size: 32px;
    padding-top: 60px;
  }

  .modtres .modtres__list {
    text-align: center;
  }

  .modtres .modtres__list .list__text {
    max-width: 353.8px;
    margin: auto;
    text-align: center;
  }

  .modtres .modtres__list .list_title {
    margin: auto;
    max-width: 350px;
    text-align: center;
    padding-top: 45px;
  }

  .modtres .modtres__btn {
    width: 255px;
  }

  .footer_text {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=main.css.map */
