$font-text: 'Roboto-Regular';
$font-title: 'RobotoSlab-Bold';
$font-btn: 'Roboto-Medium';
$color-tres: #eff9ff;
$color-footer: #304268;
$color-orange: #f26002;
$color-dos: #ffffff;
$color-menu: #0271bc;