$font-text: 'Roboto', sans-serif;
$font-title: 'Roboto:700';
$font-btn: 'Roboto:400';
$color-tres: #eff9ff;
$color-footer: #304268;
$color-orange: #f26002;
$color-dos: #ffffff;
$color-menu: #0271bc;
$color-grey :#4a4a4a;
$color-black: #000000;